<!--Form handling-->
<form action="/api/bottleneck" method="POST" id="add_bottleneck">
    <div class="new_reportecb">
        <div class="form-group">
            <label for="code" class="text-ligth">Código</label>
            <input type="number" name="code" value="">
        </div>
        <div class="form-group">
            <label for="fecha" class="text-ligth">Fecha</label>
            <input type="date" name="date" value="">
        </div>
        <div class="form-group">
            <label for="dni_encargado" class="text-ligth">Cédula Encargado</label>
            <input type="text" name="dniManager" placeholder="05-0361-0263">
        </div>
        <div class="form-group">
            <label for="motivo" class="text-ligth">Motivo</label>
            <input type="text" name="reason" placeholder="Motivo del cuello de botella">
        </div>
        <div class="form-group">
            <label for="lote" class="text-ligth">Lote</label>
            <input type="number" name="lot" placeholder="3003">
        </div>
        <div class="form-group">
            <label for="seccion" class="text-ligth">Sección</label>
            <input type="number" name="section" placeholder="23">
        </div>
        <div class="form-group">
            <label for="hora_inicio" class="text-ligth">Hora Inicial</label>
            <input type="time" name="hourBegin" placeholder="06:00:00 AM">
        </div>
        <div class="form-group">
            <label for="hora_final" class="text-ligth">Horal Final</label>
            <input type="time" name="hourFinal" placeholder="02:00:00 PM">
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Guardar</button>
        </div>
    </div>
</form>
<!--/Form handling-->