<tr>
    <td>1</td>
    <td>03-09-2022</td>
    <td>5-0361-0263</td>
    <td>Jornada</td>
    <td>2015</td>
    <td>23</td>
    <td>06:00:10 AM</td>
    <td>02:05:00 AM</td>
    <td> 
        <a href="update-cuellobotella" class="btn border-shadow update">
            <span class="text-gradient">
                <i class="fas fa-pencil-alt"></i>
            </span>
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient">
                <i class="fas fa-times"></i>
            </span>
        </a>
    </td>
</tr>